<html>

<body>
  <p>Hi {{username}}, </p>
  <p>
    You are just one step away from activating your account. Click on the link below and start enjoying your account.
  </p>

  <p> <a href="{{registrationLink}}">{{registrationLink}}</a></p>

  <p>NOTE: If clicking the link did not work, try copying and pasting it directly in your browser. </p>

  <p>Thanks, </p>

  <p>AstigIT</p>

</body>

</html>