<html>

<body>
  <p>Hi {{username}}, </p>
  <p> You have recently let us know that you need to reset your password. </p>
  <p>Please follow the link below to reset it: </p>

  <p> <a href="{{link}}">{{link}}</a></p>

  <p>If you did not request to reset your password, please disregard this message. This link will automatically expires
    after 1 hour from its creation time ( {{createdAt}} ).</p>

  <p>NOTE: If clicking the link did not work, try copying and pasting it directly in your browser. </p>

  <p>Thanks, </p>

  <p>AstigIT</p>

</body>

</html>